*{
    position: relative;
    box-sizing: border-box;
} 


/*-------------------------*/
/* title
---------------------------*/
.title{
    padding: 40px 0 ;
}
@media(max-width:768px){
    .title{
        padding: 20px 0 ;
    }
}
.title-bar span{
    width: 100%;
    height: 4px;
    background-color: #EBDE28;
    position: absolute;
    top: 50%;
    transform: translateY(500%);
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
@media(max-width:768px){
    .title-bar span{
        height: 2px;
        transform: translateY(-50%);
    }
}
.title-text{
    text-align: center;
    margin: auto 0;
    color: #EBDE28;
    transform: translateX(4%);
}


/*-------------------------*/
/* Profile
---------------------------*/

.profile-content{
margin: 0 auto;
padding-top: 75px;
padding-bottom: 60px;
}
@media(max-width:768px){
    .profile-content{
        padding-top: 50px;
        padding-bottom: 15px;
    } 
}
.profile-info{   
    display: inline-block;  
    left: 50%;
    transform: translateX(-50%);   
}

/* profile-top */
.profile-top{
    padding-top: 10vh;
    right:25%;
}
@media(max-width:768px){
    .profile-top{
        padding-top: 0vh;
        right:35%;
    }
}
.profile-job {
padding: 0 5vh;
}
.profile-name{
text-align: left;
padding-left:20vh;
}
@media(max-width:768px){
    .profile-name{
        padding-left:30px;
    }
    .profile-job{
        padding: 0;
    }
}

/* profile-bottom */
.profile-bottom{
    padding-right: 3vh;
    float:right;
}
.profile-text{
    display: inline-block;
    color: #fc9185; 
    line-height: 18px;
}
@media(max-width:768px){
    .profile-text{
        font-size: 12px;
        line-height: 16px;
        margin:0.3em ;
    } 
}

/* icon */
.icon-out{
    border-radius: 50%;
    border: 5px solid #fc9185;
    background-color: #fc9185;
    padding: 2px;
}
.btn-icon{
    font-size: 24px;
    color: #fefefe;
}
@media(max-width:768px){
    .btn-icon{
        font-size: 12px;
        border: 2px solid #fc9185;
    } 
}
.icon-click{
    transition: all 0.3s;    
}
.icon-click :hover{
    transform: translateY(-20%);
}

/* profile-left */
.profile-left{
    height: 100vh;      
}
@media(max-width:768px){
    .profile-left{
        height: 40vh;      
    }
}
.profile-imgout{    
    height: 100vh;
}
@media (max-width:768px){
    .profile-imgout{
        height: 40vh;
    }    
}
.profile-img{
    position: absolute;
    width: 100%;
    height: 100%;
    left:50%;
    background-position: left top;
    background-repeat: no-repeat;
    transform: translateX(-50%); 
    background-color: #ebde2896;

    -webkit-mask-image: url(../images/pattern001.png);
    mask-image: url(../images/pattern001.png);
    -webkit-mask-size: contain;
    mask-size:contain;
    mask-position: top 30px center;
    -webkit-mask-position: top 30px center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}   
@media (max-width:768px){
    .profile-img{
        background-size:contain;
    }    
}


/*-------------------------*/
/* Skill
---------------------------*/
.skill{
    padding-top: 40px;
    padding-bottom: 80px;
}
@media(max-width:768px){
    .skill{
        padding-top: 15px;
        padding-bottom: 20px;
    }
}  
.skill-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-right: 0.8px solid #484848;
}
@media(max-width:768px){
    .skill-list{
        border-right: none;
    } 
}
.skill-item{
    text-align: center;
    padding: 24px 0;
    display: inline-block;  

}
@media(max-width:768px){
    .skill-item{
        padding: 10px 0;
    } 
}
.skill-icon{
    font-size: 28px;
    padding: 5px;
    color: #484848;
}
@media(max-width:768px){
    .skill-icon{
        font-size: 18px;
        line-height: 20px;
        padding: 0px;
    } 
}
.skill-text{
    margin: 0;
    display: inline-block;
}

@media(max-width:768px){
    .skill-content-right{
        display: flex;
        justify-content: space-around;
    }
}
.language-item{
    margin: 0 15px;
    text-align: left;
    padding: 24px 0;
    display: inline-block;   
}
@media(max-width:768px){
    .language-item{
        margin: 0 10px;
        padding: 10px 0;
    } 
}


/*-------------------------*/
/* About Me
---------------------------*/
.about{
    padding-top: 40px;
    padding-bottom: 80px;
}
@media(max-width:768px){
    .about{
        padding-top: 15px;
        padding-bottom: 20px;
    }
}  
.about-content{
    margin: 0 auto;
}

.about-timeline{
    height: 150px;
}
.about-timelinebar{
    width: 100%;
    height: 4px;
    background-color: #fc9185;   
    top: 50%;
    left: 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.timeline-row{
    height: 150px;
    padding:0;
}
.timeline-row:nth-child(odd){
    text-align: center;
    display: flex;
    align-items: flex-end;  
}
.timeline-row:nth-child(even){
    text-align: center;
    display: flex;
    align-items: flex-start;    
}
.timeline-card{
    display: inline-block;  
}
.timeline-card::before{
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    background-color: #fc9185;
    position: absolute;
    top:100%;   
}
.timeline-row:nth-child(even) > :before{   
    transform: translateX(-50%);   
}
.timeline-row:nth-child(odd) > :before{
    top:-25px;
    transform: translateY(25%);    
}
@media (max-width: 768px){
    .about-timeline{
        height: 270px;
    }
    .about-timelinebar{
        width: 4px;
        height: 100%;  
        top: 0;
        transform: translateX(-50%);
        display: inline-block;
    }  
    .timeline-cards{
        display: inline-block;
    }
    .timeline-row{
        height: auto;
        padding: 0 16px;
    }
    .timeline-text{
        padding-left: 25px;
    }
    .timeline-row:nth-child(odd){
        text-align: left;
    }
    .timeline-row:nth-child(even){
        text-align: left;  
    }
    .timeline-row:nth-child(even) > :before{   
        top:25px;
        transform: translateX(-100%);          
    }
    .timeline-row:nth-child(odd) > :before{
        top:25px;
        transform: translateX(-100%);   
        
    }
}


/*-------------------------*/
/* My Works
---------------------------*/
.works{
    padding-top: 40px;
}
@media(max-width:768px){
    .works{
        padding-top: 15px;
    }
}  
.work-list{
    padding-top: 80px;
    margin: 0 auto;
}
.work-item{
    margin-bottom: 160px;
}

/* work-img */
.work-img{      
    width: 100%;
    overflow: hidden;
    border: #b7b6b6 0.8px solid;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 8px 10px;     
}
.img-inner{
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.img-inner.img-inner4-3{
    padding-top: calc(100% * 3 / 4);
}
.img-inner .image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

/* work-text */
.work-text-right{
    text-align: right;
}
.work-text-left{
    text-align: left;
}
.work-title-left{
    margin-right: -80px;
}
.work-title-right{
    margin-left: -80px;
}
.work-text{
    text-align: left;
}
.work-btn{
    width: 80px;
    color: #fff;
    background-color: #fc9185;
    border-radius: 10px;
    border-color:#fc9185 ;
    font-size: 18px;
    line-height: 24px;
    border-style: none;
}
.work-btn:hover{
    color: #fc9185;
    background-color: #fff;
    border:#fc9185 1px solid ;
}

@media(max-width: 768px){
    .work-list{
        padding-top: 20px;
    }
    .work-item{
        margin-bottom: 48px;
    }
    .work-text-right{
        text-align: left;
    }
    .work-title-right{
        margin-left: 0;
        display: inline-block;
    }
    .work-title-left{
        margin-left: 0;
        display: inline-block;
        margin-right:0px;
    }
    .work-btn{
        width: 50px;
        font-size: 12px;
    }
}


/*-------------------------*/
/* Footer
---------------------------*/
.footer{
    text-align: center;
    padding: 3px 0;
}
.footer-text{
    letter-spacing: 5px;
}

